django==5.0.6
djangorestframework==3.15.2
psycopg2-binary==2.9.9
django-cors-headers==4.4.0
python-decouple==3.8
dj-database-url==2.1.0
whitenoise==6.7.0
gunicorn==22.0.0

llama-index==0.10.58
llama-index-core==0.10.58
llama-index-vector-stores-pinecone==0.1.7
llama-index-llms-groq==0.1.4
llama-index-embeddings-gemini==0.1.7

pinecone-client==3.2.2
groq==0.9.0
pypdf==4.2.0
tiktoken==0.7.0

pandas==2.2.2
openpyxl==3.1.2
tabulate==0.9.0
